.error{
    color: red
}

nav a{
    margin-right: 10px
}
.app-content {
  margin-left: 255px;
  min-height: 100vh;
  background-color: #ffffff;
}

.app-content.app-content-standalone {
  margin-left: 0;
}
